@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.gameArea {
  margin: 10px;
  max-width: 1400px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .gameArea {
    flex-direction: column;
    height: 100%;
  }
}

.title {
  width: 100%;

}

@media screen and (max-width: 800px) {
  .title {
    margin-bottom: 10px;

  }
}

.title-img {
  margin: auto;
  height: 130px;
}

@media screen and (max-width: 900px) {
  .title-img {
    height: 115px;
  }
}

@media screen and (max-width: 650px) {
  .title-img {
    height: 107px;
  }
}

@media screen and (max-width: 570px) {
  .title-img {
    height: 100px;
  }
}

@media screen and (max-width: 500px) {
  .title-img {
    height: 90px;
  }
}


@media screen and (max-width: 450px) {
  .title-img {
    height: 80px;
  }
}

.rightPane,
.leftPane {

  display: flex;
  flex-direction: column;
  padding-top: 8%;
  align-items: center;
  text-align: center;
  height: 90vh;

}



.rightPane {

  width: 60%;
  gap: 15px;
  margin-top: 0;
}

.leftPane {
  width: 35%;
}

@media screen and (max-width: 900px) {

  .rightPane,
  .leftPane {
    width: 100%;
    height: fit-content;
  }

  .leftPane {
    order: 2;
  }

  .rightPane {
    order: 1;
  }
}



.info {
  padding-left: 5px;
  font-family: 'Montserrat', sans-serif;
  color: rgba(6, 73, 115, 1);
  font-size: 24px;
  font-weight: 600;
  margin-top: 5%;
}

.subinfo {
  font-family: 'Montserrat', sans-serif;
  color: rgb(14, 74, 82);
  font-size: 20px;
  font-weight: 400;

}

@media screen and (max-width: 900px) {
  .info {
    font-size: 20px;
  }

  .subinfo {
    font-size: 18px;
  }
}


@media screen and (max-width: 800px) {
  .info {
    width: 90%;
  }

  .subinfo {
    width: 90%;
  }
}

.guess {
  display: flex;
  justify-content: center;
  height: 80px;
  gap: 7px;
  pointer-events: none;
  width: 95%;
}

@media screen and (max-width: 800px) {
  .guess {
    width: 95%;
    height: fit-content;
    margin-bottom: 10px;
  }
}

.letter-to-guess {
  width: 50px;
  height: 50px;
  border-bottom: 2px solid rgb(3, 3, 35);
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding: 2px;
  color: rgba(247, 236, 218, 0);

}

.letter-to-guess.active {
  color: rgb(6, 73, 115);
  transition: (color 0.3s ease-in-out);
}


@media screen and (max-width: 800px) {
  .letter-to-guess {
    width: 40px;
    height: 40px;
    font-size: 28px;
    font-weight: 500;
  }
}

@media screen and (max-width: 550px) {
  .letter-to-guess {
    width: 35px;
    height: 35px;
    font-size: 24px;
    font-weight: 400;
  }
}

@media screen and (max-width: 450px) {
  .letter-to-guess {
    width: 28px;
    height: 28px;
    font-size: 20px;

  }
}

.gallow {
  height: 90%;
  margin-bottom: 20px;
  margin-right: 5px;
}

@media screen and (max-width: 1200px) {
  .gallow {
    height: 80%;
  }
}


@media screen and (max-width: 1050px) {
  .gallow {
    height: 70%;
  }
}


@media screen and (max-width: 950px) {
  .gallow {
    height: 65%;
  }
}

@media screen and (max-width: 900px) {
  .gallow {
    height: 500px;
  }
}

@media screen and (max-width: 550px) {
  .gallow {
    height: 400px;
  }
}

@media screen and (max-width: 450px) {
  .gallow {
    height: 350px;
  }
}

@media screen and (max-width: 400px) {
  .gallow {
    height: 330px;
  }
}

.counter {
  margin-top: 50px;
  height: 80px;
  font-size: 22px;
  font-family: 'Orbitron', sans-serif;
  color: rgb(6, 73, 115);

}

@media screen and (max-width: 900px) {
  .counter {
    margin-top: 15px;
    height: 30px;

  }
}

@media screen and (max-width: 800px) {
  .counter {
    margin-top: 10px;
    height: 30px;

  }
}

.question {
  font-family: 'Lobster', sans-serif;

  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  color: rgb(66, 32, 11);
}

@media screen and (max-width: 800px) {
  .question {
    width: 90%;
    font-size: 26px;

  }
}

@media screen and (max-width: 550px) {
  .question {
    font-size: 24px;

  }
}

.mute {
  font-family: Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  background: linear-gradient(to right, rgb(109, 74, 70), rgb(239, 194, 162));
  color: rgb(245, 239, 191);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(75, 70, 69);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.mute:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, rgb(242, 195, 162), rgb(109, 74, 70));
  color: rgb(248, 245, 213);
}