@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.gameArea {
  margin: 10px;
  width: 100vw;
  height: 100%;
  display: flex;
}

.rightPane,
.leftPane {

  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 200px;
}

.rightPane {
  width: 60%;
  margin-top: 0;
}

.leftPane {
  width: 40%;
}

.title {
  font-size: 24px;
  color: rgb(6, 73, 115);
}

.info {
  font-family: 'Montserrat', sans-serif;
  color: rgba(6, 73, 115, 1);
  font-size: 24px;
  font-weight: 600;
}

.guess {
  display: flex;
  justify-content: center;
  height: 80px;
  gap: 7px;
}

.letter-to-guess {
  width: 50px;
  height: 50px;
  border-bottom: 2px solid rgb(3, 3, 35);
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding: 2px;
  color: rgb(247, 236, 218);


}

.letter-to-guess.active {
  color: rgb(6, 73, 115);
  transition: (color 0.3s ease-in-out);
}

.gallow {
  height: 70%;
}

.counter {
  height: 80px;

  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
  color: rgb(6, 73, 115);
}

.question {
  font-family: 'Lobster', sans-serif;

  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  color: rgb(66, 32, 11);
}

.restart {
  font-family: Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;

  /* Define the background color and gradient */
  background: linear-gradient(to right, rgb(109, 74, 70), rgb(241, 205, 179));
  color: rgb(245, 239, 191);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(41, 30, 28);
  cursor: pointer;

  transition: all 0.5s ease-in-out;

}

.restart:hover,
.restart:active {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, rgb(241, 205, 179), rgb(109, 74, 70));
  color: rgb(240, 217, 10);

}